body {
  font-family: 'Poppins', sans-serif;
  background: #280c04;
  margin: 0;
}

.container {
  margin: 10px;
  max-width: 1400px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 10px 0 30px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: white;
  color: #280c04;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 32px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #280c04;
  opacity: 0.3;
  text-transform: uppercase;
  text-align: center;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #280c04;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #280c04;
  opacity: 0.7;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 13px;
  line-height: 1.5;
  padding: 300px 40px 20px;
  text-align: left;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2col {
  grid-template-columns: 1fr 1fr;
}

.grid-3col {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-align-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.no-grid-gap {
  grid-gap: 0;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #280c04;
  text-decoration: none;
}

.img-responsive {
  width: 100%;
  display: block;
}

.embed {
  width: 100%;
  aspect-ratio: 16/9;
}

ul {
  list-style-type: none;
  line-height: 25px;
}

li a {
  color: white;
  text-decoration: none;
}

.code-link {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  footer {
    font-size: 7px;
    padding: 150px 20px 10px;
  }

  ul {
    line-height: 9px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
